<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llk.shop_api.dao.ProductDao">

    <insert id="addProd" parameterType="com.llk.shop_api.dao.ProductDao">
        insert into s_product (name,title,bandId,typeId,productdecs,price,imgPath,stocks,sortNum,createDate,updateDate,author,isDel)
        value
        (#{name},#{title},#{bandId},#{typeId},#{productdecs},#{price},#{imgPath},#{stocks},#{sortNum},#{createDate},#{updateDate},#{author},#{isDel})

    </insert>

    <select id="queryProdCount" resultType="java.lang.Long">
        select count(*) from s_product where 1=1
        <if test="name !='' and name != null">
            and name = #{name}
        </if>
        <if test="title!='' and title != null">
            and title = #{title}
        </if>
    </select>

    <select id="queryProdData" parameterType="com.llk.shop_api.model.vo.ProdPamas" resultType="com.llk.shop_api.model.po.Product">

        select * from s_product where 1=1
        <if test="name !='' and name != null">
            and name = #{name}
        </if>
        <if test="title !='' and title != null">
            and title = #{title}
        </if>
        limit ${(page-1)*size},#{size}
    </select>

</mapper>













